

<div class="collapsible collapsible--expanded">
    <!-- 
      a collapsible component      
    -->

    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item</h2>

      <!-- the icon component -->
      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="./images/chevron_sprite.svg#chevron"></use>
      </svg>
    </header>

    <div class="collapsible__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus
      molestias consequuntur sapiente, repellat necessitatibus numquam.
    </div>
  </div>




  <div class="collapsible collapsible--expanded">
    <!-- 
      a collapsible component      
    -->

    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item</h2>

      <!-- the icon component -->
      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="./images/chevron_sprite.svg#chevron"></use>
      </svg>
    </header>

    <div class="collapsible__content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus
      molestias consequuntur sapiente, repellat necessitatibus numquam.
    </div>
  </div>

  