<section class="block block--dark block--skewed--right block-showcase">
      <header class="block__header">
        <h2 class="block__heading">User-friendly Control Panel</h2>
      </header>

      <div class="container grid grid--1x2">
        <picture class="block-showcase__image">
          <source
            type="image/png"
            srcset="./images/ipad.png 1x ./images/ipad.png 2x "
          />
          <img src="./images/ipad.png" alt="" />
        </picture>

        <!-- <img class="block-showcase__image" src="./images/ipad.png" alt="" /> -->

        <ul class="list">
          <li>
            <div class="media">
              <div class="media__image">
                <span class="icon-container">
                  <svg class="icon icon--primary icon--white">
                    <use xlink:href="./images/sprite.svg#snap"></use>
                  </svg>
                </span>
              </div>

              <div class="media__body">
                <h3 class="media__title">Easy Start and Manage Updates</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Voluptas quas nobis facilis eveniet totam dicta suscipit, quod
                  quisquam mollitia aliquid.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="media">
              <div class="media__image">
                <span class="icon-container">
                  <svg class="icon icon--primary icon--white">
                    <use xlink:href="./images/sprite.svg#snap"></use>
                  </svg>
                </span>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy Start and Manage Updates</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Voluptas quas nobis facilis eveniet totam dicta suscipit, quod
                  quisquam mollitia aliquid.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="media">
              <div class="media__image">
                <span class="icon-container">
                  <svg class="icon icon--primary icon--white">
                    <use xlink:href="./images/sprite.svg#snap"></use>
                  </svg>
                </span>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy Start and Manage Updates</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Voluptas quas nobis facilis eveniet totam dicta suscipit, quod
                  quisquam mollitia aliquid.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>